<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--jangan lupa dilokalin-->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" th:href="@{dist/img/favicons/favicon.ico}"/>

        <title>Dashboard Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{dist/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link th:href="@{dist/css/dashboard.css}" rel="stylesheet"/>

    </head>

    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Dashboard</h1>
                    </div>

                    <!-- Content -->
                    <h4>Leave Request List</h4>

                    <table id="example" class="table table-bordered table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Id Employee</th>
                                <th>Name</th>
                                <th>Request Date</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tblData">
                            <tr th:each="req : ${requeststatusData}">
                                <td th:text="${req.request.employee.id}"></td>
                                <td th:text="${req.request.employee.name}"></td>
                                <td th:text="${req.datetime}"></td>
                                <td th:text="${req.request.startdate}"></td>
                                <td th:text="${req.request.enddate}"></td>
                                <td th:text="${req.status.type}"></td>
                                <td>
                                    <!--<a th:href="@{/regiondelete/{id}(id=${as.id})}" data-target="#mdlAdd" data-toggle="modal">Delete</a>-->
                                    <!--<a th:href="@{/regiondelete/{id}(id=${as.id})}">Delete</a>-->
                                    <!--<a th:href="@{/delete/{id}(id=${as.id})}">Edit</a>-->
                                    <button id="btnApprove" data-target="#mdlApprove" data-toggle="modal" 
                                            th:data-getid="${req.id}" th:data-getidemp="${req.request.employee.id}"
                                            th:data-getdatetime="${req.datetime}" th:data-getstart="${req.request.startdate}"
                                            th:data-getend="${req.request.enddate}" th:data-gettotal="${req.request.total}" 
                                            th:data-getreqid="${req.request.id}"
                                            class="btn btn-outline-success">Approve</button>
                                    <button id="btnReject" data-target="#mdlReject" data-toggle="modal" 
                                            th:data-getid="${req.id}" th:data-getidemp="${req.request.employee.id}"
                                            th:data-getdatetime="${req.datetime}" th:data-getstart="${req.request.startdate}"
                                            th:data-getend="${req.request.enddate}" th:data-gettotal="${req.request.total}" 
                                            th:data-getreqid="${req.request.id}"
                                            class="btn btn-outline-danger">Reject</button>
                                    <!--<button data-target="#mdlDelete" data-toggle="modal" th:data-getname="${as.name}" th:data-getid="${as.id}" class="btn btn-warning">Delete Data</button>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!--modal approve-->
                    <div class="modal fade" id="mdlApprove" tabindex="-1" role="dialog" aria-labelledby="modal-approve" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="mdlApprove">Approve</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/requeststatusedit}" method="POST">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input hidden="" id="id" name ="id" class="form-control" type="text"/>
                                            <label for="id employee">ID Employee</label>
                                            <input id="idemployee" name="idemp" class="form-control" type="text" readonly=""/>
                                            <label for="requestdate">Request Date</label>
                                            <input id="datetime" name ="datetime" class="form-control" type="text" readonly="" />
                                            <label for="requeststart">Request Start</label>
                                            <input hidden="" id="description" name ="description" class="form-control" type="text" />
                                            <input id="requeststart" class="form-control" type="text" readonly="" />
                                            <label for="requestend">Request End</label>
                                            <input id="requestend" class="form-control" type="text" readonly="" />
                                            <label for="requesttotal">Total (day)</label>
                                            <input id="requesttotal" name="requesttotal" class="form-control" type="text" readonly="" />
                                            <label for="confirm">Approve this Request?</label>
                                            <input hidden="" id="requestId" name ="request" class="form-control" type="text" />
                                            <input hidden="" id="statusId" name ="status" class="form-control" type="text" value="S2" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" value="Submit" class="btn btn-default">OK</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <!--modal reject-->
                    <div class="modal fade" id="mdlReject" tabindex="-1" role="dialog" aria-labelledby="modal-approve" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="mdlApprove">Reject</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/requeststatusedit}" method="POST">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input hidden="" id="id-r" name ="id" class="form-control" type="text"/>
                                            <label for="idemployee">ID Employee</label>
                                            <input id="idemployee-r" class="form-control" type="text" readonly="" />
                                            <label for="requestdate">Request Date</label>
                                            <input id="datetime-r" name ="datetime" class="form-control" type="text" readonly="" />
                                            <label for="requeststart">Request Start</label>
                                            <input id="requeststart-r" class="form-control" type="text" readonly="" />
                                            <label for="requestend">Request End</label>
                                            <input id="requestend-r" class="form-control" type="text" readonly="" />
                                            <label for="requesttotal">Total (day)</label>
                                            <input id="requesttotal-r" name="requesttotal" class="form-control" type="text" readonly="" />
                                            <label for="confirm">Reason about rejection: </label>
                                            <input id="description-r" name ="description" class="form-control" type="text"  />
                                            <label for="confirm">Reject this Request?</label>
                                            <input hidden="" id="requestId-r" name ="request" class="form-control" type="text" />
                                            <input hidden="" id="statusId-r" name ="status" class="form-control" type="text" value="S2" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" value="Submit" class="btn btn-default">OK</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>


                    <!-- /.End Content -->
                </main>
            </div>
        </div>

        <!-- Bootstrap core JavaScript  ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!--data table-->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <!--<script>window.jQuery || document.write('<script th:src="@{dist/js/jquery-slim.min.js"><\/script>}')</script>-->
        <script th:src="@{dist/js/popper.min.js}"></script>
        <script th:src="@{dist/js/bootstrap.min.js}"></script>
        <script>
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>
        <script>
            $('#mdlApprove').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('getid');
                var idemp = button.data('getidemp');
                var datetime = button.data('getdatetime');
                var start = button.data('getstart');
                var end = button.data('getend');
                var total = button.data('gettotal');
                var reqid = button.data('getreqid');

                var modal = $(this);
                modal.find('#id').val(id);
                modal.find('#idemployee').val(idemp);
                modal.find('#datetime').val(datetime);
                modal.find('#requeststart').val(start);
                modal.find('#requestend').val(end);
                modal.find('#requesttotal').val(total);
                modal.find('#requestId').val(reqid);
                modal.find('#statusId').val('S2');
            });
        </script>
        <script>
            $('#mdlReject').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('getid');
                var idemp = button.data('getidemp');
                var datetime = button.data('getdatetime');
                var start = button.data('getstart');
                var end = button.data('getend');
                var total = button.data('gettotal');
                var reqid = button.data('getreqid');

                var modal = $(this);
                modal.find('#id-r').val(id);
                modal.find('#idemployee-r').val(idemp);
                modal.find('#datetime-r').val(datetime);
                modal.find('#requeststart-r').val(start);
                modal.find('#requestend-r').val(end);
                modal.find('#requesttotal-r').val(total);
                modal.find('#requestId-r').val(reqid);
                modal.find('#statusId-r').val('S3');
            });
        </script>
    </body>
</html>
